<div class="page-footer">
  <div class="hero-wrapper hero-wrapper-md hero-wrapper-default" style="">
    <div class="hero-wrapper-single hero-wrapper-inner">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="footer-box newsletter-box">
            <h5>Horario</h5>
            <p>Lunes a Viernes</p>
            <p>09:00-12:00 y 13:00-18:00</p>
    
            <div id="mc_embed_signup">
              <div id="mc_embed_signup_scroll">
                <div id="mce-responses" class="clear">
                </div>
              </div>
            </div>
          </div>
        </div>
    
          <div class="col-md-6">
            <div class="footer-box affiliates-box">
            <h5>Contacto</h5>
            <ul class="list-unstyled">
                <li><p>📞 <span><a href="https://wa.link/r13s19">+57 316 735 7908</a></span></p>
                    <p>📧 <span>innotekmobil@gmail.com</span></p>
                </li>
            </ul>
            </div>
          </div>
      </div>
      <br>
        <span class="pull-right text-muted small" style="color:#FFFFFF">Designed by INNO-TEK MOBIL - 2022</span>
