<div class="dashpack-header">
    <a class="dashpack-logo" href="/index/">INNO-TEK MOBIL</a>
    <div class="dashpack-nav">
    
    <div>
        <nav class="sb-sidenav-menu-nested">
        <ul>
            <li>
                <a class="navlink" href="/ruta/">Información de rutas</a>
            </li>
            <li>
                <a class="navlink" href="/vehiculo/">Gestión de vehículos</a>
            </li>
            <li>
                <a class="navlink" href="/conductor/">Análisis de conductores</a>
            </li>
            <li> 
                <a class="navlink"  href="/plan_rodamiento/">Plan de rodamiento</a>
            </li>
        </ul>
        </nav>       
    </div>
    </div>

    <div class="dashpack-nav-right">
        
        <a href="/help/">Ayuda</a>
        <a href="/perfil/" title="My Account">Mi cuenta</a>
        <a href="/logoutView/" title="logout">Cerrar sesión</a>
        
    </div>
</div>