<div class="page-section page-section-alt pt-0 pb-0">
    <br><br><h4 class="section-title text-center">Más opciones del sistema</h4>
    <div class="slider-full-width screenshots-sliders-center" data-slick='{"fade": false}'>
    
    <div class="feature-box-wrapper">
        <div class="feature-box-sm">
            <h4><i class="icon-ok"></i><a href="/adjuntar_archivos/">Documentos del vehículo</h4></a>
        </div>
    </div>

    <div class="feature-box-wrapper">
        <div class="feature-box-sm">
            <h4><i class="icon-ok"></i><a href="/cargar_documento/">Certificados - plan de rodamiento</h4></a>
        </div>
    </div>
    
    <div class="feature-box-wrapper">
        <div class="feature-box-sm">
            <h4><i class="icon-ok"></i><a href="/departamento/">Departamentos</h4></a>
        </div>
    </div>

    <div class="feature-box-wrapper">
        <div class="feature-box-sm">
            <h4><i class="icon-ok"></i><a href="/municipio/">Municipios</h4></a>
        </div>
    </div>

    <div class="feature-box-wrapper">
        <div class="feature-box-sm">
            <h4><i class="icon-ok"></i><a href="/paradero/">Paraderos</h4></a>
        </div>
    </div>

    <div class="feature-box-wrapper">
        <div class="feature-box-sm">
            <h4><i class="icon-ok"></i><a href="/subir_archivos/">Documentos del conductor</h4></a>
        </div>
    </div>

    <div class="feature-box-wrapper">
        <div class="feature-box-sm">
            <h4><i class="icon-ok"></i><a href="/turno/">Turnos</h4></a>
        </div>
    </div>

    <div class="feature-box-wrapper">
        <div class="feature-box-sm">
            <h4><i class="icon-ok"></i><a href="/ubicacion/">Ubicaciones</h4></a>
        </div>
    </div>
    
    </div>
    </div>