{% load static %}
{% include "estilos.html" %}


<!-- Estilos -->
<link rel="stylesheet" href="/static/css/anuncios.css">

<div class="card-footer" style="background:gainsboro;">
  <h4 class="text-center">ANUNCIOS PUBLICITARIOS</h4>
</div>
    
<div class="slider">
  <ul>
    <li><img  src="{% static 'anuncios/anuncio1.jpg' %}"></li>
    <li><img  src="{% static 'anuncios/anuncio2.jpg' %}"></li>
    <li><img  src="{% static 'anuncios/anuncio3.jpg' %}"></li>
    <li><img  src="{% static 'anuncios/anuncio4.jpg' %}"></li>
    <li><img  src="{% static 'anuncios/anuncio5.jpg' %}"></li>
    <li><img  src="{% static 'anuncios/anuncio6.jpg' %}"></li>
    <li><img  src="{% static 'anuncios/anuncio7.jpg' %}"></li>
    <li><img  src="{% static 'anuncios/anuncio8.jpg' %}"></li>
    <li><img  src="{% static 'anuncios/anuncio9.jpg' %}"></li>
    <li><img  src="{% static 'anuncios/anuncio10.jpg' %}"></li>
    <li><img  src="{% static 'anuncios/anuncio11.jpg' %}"></li>
    <li><img  src="{% static 'anuncios/anuncio12.jpg' %}"></li>
    <li><img  src="{% static 'anuncios/anuncio13.jpg' %}"></li>
    <li><img  src="{% static 'anuncios/anuncio14.jpg' %}"></li>
    <li><img  src="{% static 'anuncios/anuncio15.jpg' %}"></li>
    <li><img  src="{% static 'anuncios/anuncio16.jpg' %}"></li>
    <li><img  src="{% static 'anuncios/anuncio17.jpg' %}"></li>
    <li><img  src="{% static 'anuncios/anuncio18.jpg' %}"></li>
    <li><img  src="{% static 'anuncios/anuncio19.jpg' %}"></li>
    <li><img  src="{% static 'anuncios/anuncio20.jpg' %}"></li>
    <li><img  src="{% static 'anuncios/anuncio21.jpg' %}"></li>
    <li><img  src="{% static 'anuncios/anuncio22.jpg' %}"></li>
    <li><img  src="{% static 'anuncios/anuncio23.jpg' %}"></li>
    <li><img  src="{% static 'anuncios/anuncio24.jpg' %}"></li>
    <li><img  src="{% static 'anuncios/anuncio25.jpg' %}"></li>


    
  </ul>
</div>



