{% load static %}
{% include "estilos.html" %}


      <h4 class="text-right">EMPRESA DE TRANSPORTE </h4>
      <div class="col">
        {% include "dashboard/fecha y hora.html" %}
      </div>   
   
      <div  class="text-right" >
        <img src="{% static 'img/teléfono.png' %}"  width="25" height="30"  <h4 class="text-right"> 0000000000 </h4>
      </div>
   
      <div class="card-footer" style="background:gainsboro;">
        <h3 class="text-center">PARADERO - CAMPANARIO Cra. 9 ##24AN-21</h3>
      </div>